#home-container {
    height: 100vh;
    overflow: hidden;

    #background {
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #center-text {
        position: absolute;
        text-align: center;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 40px;
    }

    #start-button {
        position: absolute;
        text-align: center;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 40px;
        text-decoration: none;
    }

    #start-button:hover {
        color: #cccccc;
    }
}
