.ocean {
    height: 10000px;
    width: 100%;
    overflow: hidden;

    #background {
        position: absolute;
        z-index: -1;
        height: 10000px;
        width: 100%;
    }

#introduction {
	  padding-left: 250px;
        padding-top: 200px;
        position: absolute;
	  font-size: 40px;

    
}
}
